In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
url = 'https://www.airbnb.co.in/?from_belo_click'
response = requests.get (url)
print(response)

<Response [200]>

In [8]:
soup = BeautifulSoup (response.text,'lxml')
print(soup.prettify()[:500])

<!DOCTYPE html>
<html class="scrollbar-gutter" data-is-async-local-storage="true" data-is-hyperloop="true" dir="ltr" lang="en-IN">
 <head>
  <meta charset="utf-8"/>
  <meta content="en-IN" name="locale"/>
  <meta content="notranslate" name="google"/>
  <meta content="authenticity_token" id="csrf-param-meta-tag" name="csrf-param"/>
  <meta content="" id="csrf-token-meta-tag" name="csrf-token"/>
  <meta content="" id="english-canonical-url"/>
  <meta content="on" name="twitter:widgets:csp"/>
  <me

In [30]:
locations = soup.find_all ('div',class_='t1jojoys atm_g3_1kw7nm4 atm_ks_15vqwwr atm_sq_1l2sidv atm_9s_cj1kg8 atm_6w_1e54zos atm_fy_1vgr820 atm_7l_jt7fhx atm_cs_10d11i2 atm_w4_1eetg7c atm_ks_zryt35__1rgatj2 dir dir-ltr')
locations_list = []
for i in locations:
  n = i.text
  locations_list.append (n.strip())

print(locations_list)

['Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Westlands, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya', 'Nairobi, Kenya']

In [46]:
print(len(locations))

20

In [42]:
distance_from_nairobi = soup.find_all ('div',class_='fb4nyux atm_da_cbdd7d s1cjsi4j atm_g3_1kw7nm4 atm_ks_15vqwwr atm_sq_1l2sidv atm_9s_cj1kg8 atm_6w_1e54zos atm_fy_kb7nvz atm_7l_1he744i atm_ks_zryt35__1rgatj2 dir dir-ltr')
distance_from_nairobi_list = []
for i in distance_from_nairobi:
  n = i.text
  distance_from_nairobi_list.append (n.strip())

print(distance_from_nairobi_list)

['6 kilometres away6 kilometres away', '18–23 Jan18–23 Jan', '7 kilometres away7 kilometres away', '19–24 Jan19–24 Jan', '6 kilometres away6 kilometres away', '23–28 Jan23–28 Jan', '7 kilometres away7 kilometres away', '22–27 Jan22–27 Jan', '4 kilometres away4 kilometres away', '12–17 Jan12–17 Jan', '4 kilometres away4 kilometres away', '23–28 Jan23–28 Jan', '3 kilometres away3 kilometres away', '22–27 Jan22–27 Jan', '4 kilometres away4 kilometres away', '16–21 Jan16–21 Jan', '4 kilometres away4 kilometres away', '12–17 Jan12–17 Jan', '7 kilometres away7 kilometres away', '12–17 Jan12–17 Jan', '5 kilometres away5 kilometres away', '19–24 Jan19–24 Jan', '4 kilometres away4 kilometres away', '13–18 Jan13–18 Jan', '3 kilometres away3 kilometres away', '16–21 Jan16–21 Jan', '6 kilometres away6 kilometres away', '31 Mar\u2009–\u20095 Apr31 Mar\u2009–\u20095 Apr', '4 kilometres away4 kilometres away', '13–18 Jan13–18 Jan', '4 kilometres away4 kilometres away', '23–28 Jan23–28 Jan', '4 kilometres away4 kilometres away', '12–17 Jan12–17 Jan', '3 kilometres away3 kilometres away', '22–27 Jan22–27 Jan', '2 kilometres away2 kilometres away', '12–17 Jan12–17 Jan', '4 kilometres away4 kilometres away', '13–18 Jan13–18 Jan']

In [48]:
print(len(distance_from_nairobi))

40

In [44]:
dates = soup.find_all ('span',class_='a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_mk_stnw88 atm_vv_1q9ccgz atm_vy_t94yts dir dir-ltr')
dates_list = []
for i in dates:
  n = i.text
  dates_list.append (n.strip())

print(dates_list)

['Start your search', 'Location', 'Check in / Check out', 'Guests', '6 kilometres away', '18–23 Jan', 'Guest favourite', '7 kilometres away', '19–24 Jan', 'Guest favourite', '6 kilometres away', '23–28 Jan', '7 kilometres away', '22–27 Jan', '4 kilometres away', '12–17 Jan', 'Guest favourite', '4 kilometres away', '23–28 Jan', 'Guest favourite', '3 kilometres away', '22–27 Jan', 'Guest favourite', '4 kilometres away', '16–21 Jan', 'Guest favourite', '4 kilometres away', '12–17 Jan', '7 kilometres away', '12–17 Jan', 'Guest favourite', '5 kilometres away', '19–24 Jan', '4 kilometres away', '13–18 Jan', 'Guest favourite', '3 kilometres away', '16–21 Jan', 'Guest favourite', '6 kilometres away', '31 Mar\u2009–\u20095 Apr', 'Guest favourite', '4 kilometres away', '13–18 Jan', '4 kilometres away', '23–28 Jan', 'Guest favourite', '4 kilometres away', '12–17 Jan', 'Guest favourite', '3 kilometres away', '22–27 Jan', 'Guest favourite', '2 kilometres away', '12–17 Jan', 'Guest favourite', '4 kilometres away', '13–18 Jan', 'Site Footer', 'Footer section', 'Choose a language', 'Choose a currency', 'Choose a language', 'Choose a currency', 'Choose a language', 'Choose a currency']

In [50]:
print(len(dates))

66

In [38]:
charges_per_night = soup.find_all ('span',class_='_1qgfaxb1')
charges_per_night_list = []
for i in charges_per_night:
  n = i.text
  charges_per_night_list.append (n.strip())

print(charges_per_night_list)

['₹7,928\xa0night₹7,928 per night', '₹6,807\xa0night₹6,807 per night', '₹4,915\xa0night₹4,915 per night', '₹3,667\xa0night₹3,667 per night', '₹5,084\xa0night₹5,084 per night', '₹4,915\xa0night₹4,915 per night', '₹3,711\xa0night₹3,711 per night', '₹4,767\xa0night₹4,767 per night', '₹13,397\xa0night₹13,397 per night', '₹43,189\xa0night₹43,189 per night', '₹7,780\xa0night₹7,780 per night', '₹4,213\xa0night₹4,213 per night', '₹15,073\xa0night₹15,073 per night', '₹41,423\xa0night₹41,423 per night', '₹4,570\xa0night₹4,570 per night', '₹4,601\xa0night₹4,601 per night', '₹5,155\xa0night₹5,155 per night', '₹3,545\xa0night₹3,545 per night', '₹6,520\xa0night₹6,520 per night', '₹4,971\xa0night₹4,971 per night']

In [54]:
print(len(charges_per_night))

20

In [56]:
df = pd.DataFrame ({'Locations':locations_list,'Charges':charges_per_night})
print(df)

           Locations                                            Charges
0     Nairobi, Kenya    [[[₹7,928,  ,  ], [night]], [₹7,928 per night]]
1     Nairobi, Kenya    [[[₹6,807,  ,  ], [night]], [₹6,807 per night]]
2     Nairobi, Kenya    [[[₹4,915,  ,  ], [night]], [₹4,915 per night]]
3     Nairobi, Kenya    [[[₹3,667,  ,  ], [night]], [₹3,667 per night]]
4     Nairobi, Kenya    [[[₹5,084,  ,  ], [night]], [₹5,084 per night]]
5     Nairobi, Kenya    [[[₹4,915,  ,  ], [night]], [₹4,915 per night]]
6     Nairobi, Kenya    [[[₹3,711,  ,  ], [night]], [₹3,711 per night]]
7     Nairobi, Kenya    [[[₹4,767,  ,  ], [night]], [₹4,767 per night]]
8     Nairobi, Kenya  [[[₹13,397,  ,  ], [night]], [₹13,397 per night]]
9     Nairobi, Kenya  [[[₹43,189,  ,  ], [night]], [₹43,189 per night]]
10  Westlands, Kenya    [[[₹7,780,  ,  ], [night]], [₹7,780 per night]]
11    Nairobi, Kenya    [[[₹4,213,  ,  ], [night]], [₹4,213 per night]]
12    Nairobi, Kenya  [[[₹15,073,  ,  ], [night]], [₹15,073 per night]]
13    Nairobi, Kenya  [[[₹41,423,  ,  ], [night]], [₹41,423 per night]]
14    Nairobi, Kenya    [[[₹4,570,  ,  ], [night]], [₹4,570 per night]]
15    Nairobi, Kenya    [[[₹4,601,  ,  ], [night]], [₹4,601 per night]]
16    Nairobi, Kenya    [[[₹5,155,  ,  ], [night]], [₹5,155 per night]]
17    Nairobi, Kenya    [[[₹3,545,  ,  ], [night]], [₹3,545 per night]]
18    Nairobi, Kenya    [[[₹6,520,  ,  ], [night]], [₹6,520 per night]]
19    Nairobi, Kenya    [[[₹4,971,  ,  ], [night]], [₹4,971 per night]]

In [58]:
df

           Locations                                            Charges
0     Nairobi, Kenya    [[[₹7,928,  ,  ], [night]], [₹7,928 per night]]
1     Nairobi, Kenya    [[[₹6,807,  ,  ], [night]], [₹6,807 per night]]
2     Nairobi, Kenya    [[[₹4,915,  ,  ], [night]], [₹4,915 per night]]
3     Nairobi, Kenya    [[[₹3,667,  ,  ], [night]], [₹3,667 per night]]
4     Nairobi, Kenya    [[[₹5,084,  ,  ], [night]], [₹5,084 per night]]
5     Nairobi, Kenya    [[[₹4,915,  ,  ], [night]], [₹4,915 per night]]
6     Nairobi, Kenya    [[[₹3,711,  ,  ], [night]], [₹3,711 per night]]
7     Nairobi, Kenya    [[[₹4,767,  ,  ], [night]], [₹4,767 per night]]
8     Nairobi, Kenya  [[[₹13,397,  ,  ], [night]], [₹13,397 per night]]
9     Nairobi, Kenya  [[[₹43,189,  ,  ], [night]], [₹43,189 per night]]
10  Westlands, Kenya    [[[₹7,780,  ,  ], [night]], [₹7,780 per night]]
11    Nairobi, Kenya    [[[₹4,213,  ,  ], [night]], [₹4,213 per night]]
12    Nairobi, Kenya  [[[₹15,073,  ,  ], [night]], [₹15,073 per night]]
13    Nairobi, Kenya  [[[₹41,423,  ,  ], [night]], [₹41,423 per night]]
14    Nairobi, Kenya    [[[₹4,570,  ,  ], [night]], [₹4,570 per night]]
15    Nairobi, Kenya    [[[₹4,601,  ,  ], [night]], [₹4,601 per night]]
16    Nairobi, Kenya    [[[₹5,155,  ,  ], [night]], [₹5,155 per night]]
17    Nairobi, Kenya    [[[₹3,545,  ,  ], [night]], [₹3,545 per night]]
18    Nairobi, Kenya    [[[₹6,520,  ,  ], [night]], [₹6,520 per night]]
19    Nairobi, Kenya    [[[₹4,971,  ,  ], [night]], [₹4,971 per night]]