In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [12]:
url = 'https://www.worldometers.info/gdp/gdp-by-country/'
response = requests.get (url)
print(response)

<Response [200]>

In [14]:
soup = BeautifulSoup (response.text,'lxml')
print(soup.prettify()[:100])

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="

In [31]:
table = soup.find ('table',id ='example2')
headers = table.find_all ('th')
titles = []
for i in headers:
  title = i.text
  titles.append (title)

df = pd.DataFrame (columns = titles)
df

Empty DataFrame
Columns: [#, Country, GDP (nominal, 2022) , GDP (abbrev.), GDP  growth, Population (2022) , GDP  per capita , Share of World GDP ]
Index: []

In [41]:
rows = table.find_all ('tr')
for i in rows [1:]:
  data = i.find_all ('td')
  row = [tr.text for tr in data]
  l = len (df)
  df.loc [l] = row

df

,#,Country,"GDP (nominal, 2022)",GDP (abbrev.),GDP growth,Population (2022),GDP per capita,Share of World GDP
0,1,United States,"$25,462,700,000,000",$25.463 trillion,2.06%,"341,534,046","$74,554",25.32%
1,2,China,"$17,963,200,000,000",$17.963 trillion,2.99%,"1,425,179,569","$12,604",17.86%
2,3,Japan,"$4,231,140,000,000",$4.231 trillion,1.03%,"124,997,578","$33,850",4.21%
3,4,Germany,"$4,072,190,000,000",$4.072 trillion,1.79%,"84,086,227","$48,429",4.05%
4,5,India,"$3,385,090,000,000",$3.385 trillion,7.00%,"1,425,423,212","$2,375",3.37%
...,...,...,...,...,...,...,...,...
172,173,Sao Tome & Principe,"$546,680,342",$547 million,0.93%,"226,305","$2,416",0.00%
173,174,Micronesia,"$427,094,119",$427 million,-0.62%,"523,477",$816,0.00%
174,175,Marshall Islands,"$279,667,900",$280 million,1.50%,"40,077","$6,978",0.00%
175,176,Kiribati,"$223,352,943",$223 million,1.56%,"130,469","$1,712",0.00%
176,177,Tuvalu,"$60,349,391",$60 million,0.68%,"9,992","$6,040",0.00%

In [43]:
df.to_csv (r"C:\Users\Administrator\OneDrive\Documents\WebscrapingFiles\GDP by Country.csv",index = False)