In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [4]:
url = 'https://www.proxima.co.ke/property'
response = requests.get (url)
print(response)

<Response [200]>

In [10]:
soup = BeautifulSoup (response.text,'lxml')
print(soup.prettify()[:500])

<!DOCTYPE html>
<html>
 <head lang="en">
  <meta charset="utf-8"/>
  <title>
   Properties in Nairobi, Kenya | Proxima Real Estate
  </title>
  <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1"><![endif]-->
  <meta content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no" name="viewport"/>
  <meta content="telephone=no" name="format-detection"/>
  <meta content="Find your dream home in Nairobi, Kenya! Explore our diverse listings of luxurious apar

In [14]:
address_street = soup.find_all ('span',class_='properties__address-street')
address_street_list = []
for i in address_street:
  address = i.text
  address_street_list.append (address)

print(address_street_list)

['GEMINI', 'EMERALD', 'Garden Residency', 'Vers residency ', 'Ivy Residency', 'Crystal Residency', 'Dorn Residency', 'Purple Residences', 'Rhapta Residency', 'Gem Residences', 'City homes', 'Jade Residence', 'Capital Residence', 'Pard Residence', 'Comfort Residence', 'Misty Residence', 'VENUS', 'Marina Residency', 'Golden Residency', 'CAPRICORN ', 'Nandi Residency', 'Ambra Apartments ', 'Classic Residency', 'Legends Reside', 'Star Residence ', 'Siaya Apartments ', 'Mora Villas ', 'Alba Residence ', 'Harbour Residence', 'Zanzi Residence ', 'Aspire ', 'Platinum Residence ', 'Tune Residency ', 'Syna Homes', 'Diamond Residency ', 'Leleshwa Residency', 'Royal Residence', 'Riverside Residency']

In [16]:
print(len(address_street_list))

38

In [20]:
address_city = soup.find_all ('span',class_='properties__address-city')
address_city_list = []
for i in address_city:
  city_address = i.text
  address_city_list.append (city_address)

print(address_city_list)

['Westlands', 'Westlands', 'Kilimani', 'Kileleshwa', 'Kileleshwa', 'Kileleshwa', 'Kileleshwa', 'Westlands', 'Westlands', 'Westlands', 'Westlands', 'Kilimani', 'Kilimani', 'Kilimani', 'Kileleshwa', 'Westlands', 'Kileleshwa', 'Westlands', 'Kilimani', 'Kilimani', 'Kileleshwa', 'Kileleshwa', 'Kilimani', 'Kilimani', 'Kilimani ', 'Kileleshwa ', 'Lavington ', 'Kilimani ', 'Kilimani ', 'Kilimani ', 'Lavington ', 'Kileleshwa ', 'Lavington ', 'Kileleshwa', 'Kileleshwa', 'Kileleshwa', 'Lavington', 'Riverside']

In [22]:
print(len(address_city_list))

38

In [26]:
bedrooms = soup.find_all ('span',class_='properties__ribon')
bedrooms_list = []
for i in bedrooms:
  bedroom = i.text
  bedrooms_list.append (bedroom)

print(bedrooms_list)

['1 & 2 Bedrooms', '1 & 2 Bedrooms', '1, 2 & 3 Bedrooms', '1, 2 & 3 Bedroom', '1, 2, 3 & 4 Bedrooms', '3, 4 & 5 Bedrooms', '1, 2 & 3 Bedrooms', '1, 2 & 3 Bedrooms', '1 & 2 Bedrooms', '1 & 2 Bedrooms', '2 & 3 Bedroom', '3 Bedroom', '2 & 3 Bedrooms', '1 & 2 Bedrooms', '4 Bedrooms', '1 & 2 Bedrooms', '4 Bedroom', '1 & 2 Bedrooms', '1, 2 & 3 Bedrooms', '1, 2 & 3 Bedroom', '1, 2, 3 & 4 Bedrooms', '1 & 2 Bedrooms', '1 & 2 Bedrooms', '2, 3, 4 & 5 Bedroom Apartments ', '2 Bedrooms ', '2 Bedrooms', '4 Bedroom ', 'Studio, 1, 2 & 3 Bedrooms', '2 & 3 Bedrooms', '2, 3 & 4 Bedroom ', 'Town House ', '4 & 5 Bedroom ', '1 & 2 Bedrooms', '3, 4 & 5 Bedroom', '3 & 4 Bedroom', '1 & 2 Bedroom', '4 & 5 Bedroom', '2 & 3 Bedroom']

In [28]:
print(len(bedrooms_list))

38

In [72]:
prices = soup.find_all ('strong')
prices_list = []
for i in prices:
  value = i.text
  prices_list.append (value)

print(prices_list)

['', 'Ksh. 8,300,000', '', 'Ksh. 7,800,000', '', 'Ksh. 6,800,000', '', 'Ksh. 6,000,000', '', 'Ksh. 7,300,000', '', 'Ksh. 24,000,000', '', 'Ksh. 5,700,000', '', 'Ksh. 7,000,000', '', 'Ksh. 7,800,000', '', 'Ksh. 6,800,000', '', 'Ksh. 12,000,000', '', 'Ksh. 16,000,000', '', 'Ksh. 9,100,000', '', 'Ksh. 7,000,000', '', 'Ksh. 22,000,000', '', 'Ksh. 8,100,000', '', 'Ksh. 22,000,000', '', 'Ksh. 13,550,000', '', 'Ksh. 6,000,000', '', 'Ksh. 8,500,000', '', 'Ksh. 8,000,000', '', 'Ksh. 70,000', '', 'Ksh. 8,700,000', '', 'Ksh. 12,500,000', '', 'Ksh. 13,500,000', '', 'Ksh. 13,500,000', '', 'Ksh. 85,000,000', '', 'Ksh. 7,000,000', '', 'Ksh. 8,700,000', '', 'Ksh. 14,500,000', '', 'Ksh. 66,000,000', '', 'Ksh. 28,000,000', '', 'Ksh. 7,000,000', '', 'Ksh. 35,000,000', '', 'Ksh. 24,000,000', '', 'Ksh. 7,000,000', '', 'Ksh. 35,000,000', '', 'Ksh. 12,000,000']

In [74]:
print(len(prices_list))

76

In [62]:
max_len = max (len (address_street_list),len(address_city_list),len(bedrooms_list),len(prices_list))
address_street_list += [np.nan] * (max_len -  len(address_street_list))
address_city_list += [np.nan] * (max_len - len(address_city_list))
bedrooms_list += [np.nan] * (max_len - len(bedrooms_list))
prices_list += [np.nan] * (max_len - len(prices_list))

In [66]:
df = pd.DataFrame ({'Street Address':address_street_list,
                   'City Address':address_city_list,
                   'Number of Bedrooms':bedrooms_list,
                   'Selling Price':prices_list})
df.head(38)

,Street Address,City Address,Number of Bedrooms,Selling Price
0,GEMINI,Westlands,1 & 2 Bedrooms,
1,EMERALD,Westlands,1 & 2 Bedrooms,"Ksh. 8,300,000"
2,Garden Residency,Kilimani,"1, 2 & 3 Bedrooms",
3,Vers residency,Kileleshwa,"1, 2 & 3 Bedroom","Ksh. 7,800,000"
4,Ivy Residency,Kileleshwa,"1, 2, 3 & 4 Bedrooms",
5,Crystal Residency,Kileleshwa,"3, 4 & 5 Bedrooms","Ksh. 6,800,000"
6,Dorn Residency,Kileleshwa,"1, 2 & 3 Bedrooms",
7,Purple Residences,Westlands,"1, 2 & 3 Bedrooms","Ksh. 6,000,000"
8,Rhapta Residency,Westlands,1 & 2 Bedrooms,
9,Gem Residences,Westlands,1 & 2 Bedrooms,"Ksh. 7,300,000"
10,City homes,Westlands,2 & 3 Bedroom,
11,Jade Residence,Kilimani,3 Bedroom,"Ksh. 24,000,000"
12,Capital Residence,Kilimani,2 & 3 Bedrooms,
13,Pard Residence,Kilimani,1 & 2 Bedrooms,"Ksh. 5,700,000"
14,Comfort Residence,Kileleshwa,4 Bedrooms,
15,Misty Residence,Westlands,1 & 2 Bedrooms,"Ksh. 7,000,000"
16,VENUS,Kileleshwa,4 Bedroom,
17,Marina Residency,Westlands,1 & 2 Bedrooms,"Ksh. 7,800,000"
18,Golden Residency,Kilimani,"1, 2 & 3 Bedrooms",
19,CAPRICORN,Kilimani,"1, 2 & 3 Bedroom","Ksh. 6,800,000"
20,Nandi Residency,Kileleshwa,"1, 2, 3 & 4 Bedrooms",
21,Ambra Apartments,Kileleshwa,1 & 2 Bedrooms,"Ksh. 12,000,000"
22,Classic Residency,Kilimani,1 & 2 Bedrooms,
23,Legends Reside,Kilimani,"2, 3, 4 & 5 Bedroom Apartments","Ksh. 16,000,000"
24,Star Residence,Kilimani,2 Bedrooms,
25,Siaya Apartments,Kileleshwa,2 Bedrooms,"Ksh. 9,100,000"
26,Mora Villas,Lavington,4 Bedroom,
27,Alba Residence,Kilimani,"Studio, 1, 2 & 3 Bedrooms","Ksh. 7,000,000"
28,Harbour Residence,Kilimani,2 & 3 Bedrooms,
29,Zanzi Residence,Kilimani,"2, 3 & 4 Bedroom","Ksh. 22,000,000"
30,Aspire,Lavington,Town House,
31,Platinum Residence,Kileleshwa,4 & 5 Bedroom,"Ksh. 8,100,000"
32,Tune Residency,Lavington,1 & 2 Bedrooms,
33,Syna Homes,Kileleshwa,"3, 4 & 5 Bedroom","Ksh. 22,000,000"
34,Diamond Residency,Kileleshwa,3 & 4 Bedroom,
35,Leleshwa Residency,Kileleshwa,1 & 2 Bedroom,"Ksh. 13,550,000"
36,Royal Residence,Lavington,4 & 5 Bedroom,
37,Riverside Residency,Riverside,2 & 3 Bedroom,"Ksh. 6,000,000"

In [76]:
df.to_csv (r"C:\Users\Administrator\OneDrive\Documents\WebscrapingFiles\Proxima Real Estate.csv")