In [2]:
import requestshttps:
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
url = 'https://www.iplt20.com/auction'
page = requests.get (url)
print(page)

<Response [200]>

In [166]:
soup = BeautifulSoup (page.text,'lxml')

In [180]:
soup.find_all ('table')[5]
soup.find_all ('table',class_= 'ih-td-tab auction-tbl sold-players t3 ddtf-processed')
table = soup.find_all ('table')[5]
soup.find_all ('th')
chenai_titles = table.find_all ('th')
titles = []
for i in chenai_titles:
  title = i.text
  titles.append(title)
  
print(", ".join(titles))

Sr. No., Player, Base Price, Winning Bid, Capped/Uncapped,

In [182]:
# Extract rows (<tr>) and data cells (<td>)
rows = table.find_all('tr')
data = []

for row in rows:
    cells = row.find_all('td')
    cells_text = [cell.text.strip() for cell in cells]
    if cells_text:  # Ignore empty rows
        data.append(cells_text)

# Create a DataFrame with the extracted data
df = pd.DataFrame(data, columns=titles)

df

,Sr. No.,Player,Base Price,Winning Bid,Capped/Uncapped,
0,1,Rishabh Pant,"2,00,00,000","27,00,00,000",Capped,
1,2,Avesh Khan,"2,00,00,000","9,75,00,000",Capped,
2,3,Akash Deep,"1,00,00,000","8,00,00,000",Capped,
3,4,David Miller,"1,50,00,000","7,50,00,000",Capped,
4,5,Abdul Samad,"30,00,000","4,20,00,000",Uncapped,
5,6,Mitchell Marsh,"2,00,00,000","3,40,00,000",Capped,
6,7,Shahbaz Ahamad,"1,00,00,000","2,40,00,000",Capped,
7,8,Aiden Markram,"2,00,00,000","2,00,00,000",Capped,
8,9,Matthew Breetzke,"75,00,000","75,00,000",Capped,
9,10,Shamar Joseph,"75,00,000","75,00,000",Capped,
10,11,M. Siddharth,"30,00,000","75,00,000",Uncapped,
11,12,Arshin Kulkarni,"30,00,000","30,00,000",Uncapped,
12,13,Rajvardhan Hangargekar,"30,00,000","30,00,000",Uncapped,
13,14,Yuvraj Chaudhary,"30,00,000","30,00,000",Uncapped,
14,15,Prince Yadav,"30,00,000","30,00,000",Uncapped,
15,16,Akash Singh,"30,00,000","30,00,000",Uncapped,
16,17,Digvesh Singh,"30,00,000","30,00,000",Uncapped,
17,18,Himmat Singh,"30,00,000","30,00,000",Uncapped,
18,19,Aryan Juyal,"30,00,000","30,00,000",Uncapped,

In [184]:
df.to_csv (r"C:\Users\Administrator\OneDrive\Documents\WebscrapingFiles\LuckNowSuperGiantsSoldPLayers.csv",index = False)